.button,
.button * {
  box-sizing: border-box;
}
.button {
  background: var(--primary-100percent, #9bb0c1);
  border-radius: 5px;
  padding: 0px 16px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  position: relative;
}
.button .icon-instance {
  flex-shrink: 0 !important;
}
.button .div {
  color: var(--text-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-small-bold-font-family,
    "NotoSans-DisplaySemiBold",
    sans-serif
  );
  font-size: var(--body-small-bold-font-size, 12px);
  line-height: var(--body-small-bold-line-height, 16px);
  font-weight: var(--body-small-bold-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* variant styles */
.button.color-tertiary .frame-427319037 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button.color-tertiary.state-pressed.text-true.type-filled,
.button.color-tertiary.icon-false.state-pressed.type-filled {
  background: var(--tertiary-100percent, #acacac);
}
.button.text-false {
  padding: 0px 10px 0px 10px;
}
.button.color-primary.state-pressed.text-false,
.button.color-primary.state-default.text-true.type-filled,
.button.color-primary.icon-false.state-default.type-filled {
  background: var(--primary-75percent, #adc4cf);
}
.button.color-tertiary.state-pressed.text-false.type-filled,
.button.color-tertiary.state-default.text-true.type-filled,
.button.color-tertiary.icon-false.state-default.type-filled {
  background: var(--tertiary-75percent, #d2d2d2);
}
.button.icon-false {
  padding: 6px 16px 6px 16px;
  justify-content: center;
}
.button.text-true-long {
  width: 250px;
  height: 40px;
}
.button.text-true-long .div {
  font-family: var(
    --body-bold-font-family,
    "NotoSans-DisplaySemiBold",
    sans-serif
  );
  font-size: var(--body-bold-font-size, 14px);
  line-height: var(--body-bold-line-height, 20px);
  font-weight: var(--body-bold-font-weight, 400);
}
.button.state-default {
  position: sticky;
}
.button.color-primary.type-outlined {
  background: var(--text-white, #ffffff);
}
.button.color-primary.type-outlined .div {
  color: var(--primary-100percent, #9bb0c1);
}
.button.state-disabled {
  background: var(--tertiary-25percent, #efefef);
  position: sticky;
}
.button.state-disabled .div,
.button.state-pressed.type-outlined .div {
  color: var(--tertiary-50percent, #e4e4e4);
}
.button.color-tertiary.type-outlined {
  border-style: solid;
  border-width: 1px;
}
.button.color-tertiary.state-default.type-outlined {
  border-color: var(--tertiary-75percent, #d2d2d2);
  background: unset;
}
.button.color-tertiary.state-default.type-outlined .div {
  color: var(--tertiary-75percent, #d2d2d2);
}
.button.state-pressed.type-outlined {
  background: var(--text-white, #ffffff);
  border-color: var(--tertiary-50percent, #e4e4e4);
  position: sticky;
}
.button.color-primary.state-default.text-false.type-filled {
  background: var(--primary-50percent, #bed7dc);
}
.button.color-tertiary.state-default.text-false.type-filled {
  background: var(--tertiary-50percent, #e4e4e4);
}
.button.state-pressed.text-true-long.type-outlined {
  border-radius: 10px;
}
